### Impremir en consola, equivalente al console.log() de JS

In [59]:
print("Hola Mundo!")

Hola Mundo!

### Conversiones de tipos de datos.

#### **NOTA:** ES IMPORTANTE QUE LOS TIPOS QUE SE VAN A CONVERTIR COINCIDAN

In [60]:

# ! Str a Int
int("123")

# ! Int a Floaat
float(3)


# ! Int o Float a Str
str(100)

# ! Tuple a List
list((1, 2, 3))

# ! List a Tuple
tuple([1, 2, 3])

# ! Int a Bool
bool(0)

False

### **len()** - Nos devuelve la canidad de elementos que hay en el conjunto de datos

In [61]:
print(len([0,1,2,3,4,5]))

6

### **range()** - genera una secuencia de numeros enteros en un intervalo especifico, SE USA ESPECIALMENTE CON LSO BUCLES "FOR"

* comenzara en el primer valor y seguira hasta uno antes del segundo valor, step se refiere a la cantidad de saltos que dara el intervalo
* solo es necesario un valor, en ese caso el start default sera 0 y el step 1

In [62]:
# range(11)
# range(10+1)
for idx in range(1,10,1):
    print(idx)

1
2
3
4
5
6
7
8
9

### **input()** - Insertar valores por consola, nos pedira que ingresemos una valor mediante la consola, **este se convertira en str**. Si pasamos como argumento un str, este aparecera en primer lugar.

In [63]:
value = input("Ingresa un valor")
print("El valor ingresado es: ", value)

El valor ingresado es:

### **type()** - Nos devuelve el tipo de dato de la variable.

In [64]:
val1 = 1
val2 = "hola"
val3 = True
val4 = []
val5 = ()
val6 = {0}
val7 = {}

print(type(val1))
print(type(val2))
print(type(val3))
print(type(val4))
print(type(val5))
print(type(val6))
print(type(val7))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

### **count()** - contar la cantidad de veces que se repite un caracter en un str

In [65]:
string = "blablabla"
string.count("b")

3

### **Modulo random**, generacion de numeros random.

* **random.randint()** genera enteros aleatorios (incluye el min y max)

In [66]:
import random

numero_aleatorio = random.randint(1, 10)
print(numero_aleatorio)

6

* **random.random()** - Genera un número decimal aleatorio entre 0 y 1

In [67]:
numero_decimal = random.random()
print(numero_decimal)

0.7631155815874141

* **random.uniform()** -  Genera un número decimal aleatorio entre 1 y 10

In [68]:
numero_decimal_rango = random.uniform(1, 10)
print(numero_decimal_rango)

8.035451816651308

* **random.choice([])** - Elige un elemento aleatorio de la lista o tupla

In [69]:
lista = [10, 20, 30, 40, 50]

elemento_aleatorio = random.choice(lista)
print(elemento_aleatorio)

30

### Operaciones matematicas. 

* **abs()** - devuelve el valor absoluto

In [70]:
print("El valor absoluto de -5 es: ", abs(-5))

El valor absoluto de -5 es:  5

* **pow()** - potencia

In [71]:
print("La potencia de 2^3 es: ", pow(2,3))

La potencia de 2^3 es:  8

* **round()** Redondear el numero a su entero

In [72]:
print("Redondeo de 10.50,", round(10.50))
print("Redondeo de 10.51,", round(10.51))

Redondeo de 10.50, 10
Redondeo de 10.51, 11

* O a cifras decimales

In [73]:
print("Redondeo de 10.51,", round(10.51,1))

Redondeo de 10.51, 10.5

### **sum()** - suma de los elementos de una tupla, lista o conjunto

In [74]:
print("Suma: ", sum(list([1,2,3]))) 
print("Suma: ", sum(tuple((1,2,3)))) 
print("Suma: ", sum(set((1,2,3))))

Suma:  6
Suma:  6
Suma:  6

### **min(), max()** - Valores Maximos y minimos en tuplas o listas

In [75]:
print("Maximo: ", max(list((1,2,3)))) 
print("Minimo: ", min(list([1,2,3])))

Maximo:  3
Minimo:  1

### **sorted()** - Ordenar listas de forma ascendente

In [76]:
print(sorted(list((3,2,5,6,88,4,1))))

[1, 2, 3, 4, 5, 6, 88]

### **sorted(reverse=bool)** - Ordenar listas de forma descendente

In [77]:
print(sorted(list((3,2,5,6,88,4,1)), reverse=True))

[88, 6, 5, 4, 3, 2, 1]

### **enumerate()** - Crea una tupla que enumere elementos desde 0, se puede establecer el numero por el cual empezara a contar

In [78]:
print(list(enumerate(["cero", "uno", "dos", "tres"], start=1)))

[(1, 'cero'), (2, 'uno'), (3, 'dos'), (4, 'tres')]

### **zip()** - Combina 2 colecciones en una lista de tuplas, si tienen una cantidad diferente de elementos, se ajustara a la que menos datos tenga

In [79]:
print(list(zip([1,2,3],["uno", "dos", "tres"])))

[(1, 'uno'), (2, 'dos'), (3, 'tres')]